* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --bodyColor: white;
  --textColor: black;
  --themeColor: darkslategrey;
  --bodyFont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  display: grid;
  background-color: var(--bodyColor);
  font-family: var(--bodyFont);
  justify-content: center;
  margin: 1px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 4px;
}

.hero-title {
  text-align: center;
  padding: 3rem;
  font-size: min(6vw, 40px);
  font-weight: 900;
  color: var(--themeColor);
  text-align: center;
  border-bottom-color: var(--themeColor);
  border-bottom-width: 5px;
  border-bottom-style: groove;
}

.notask-para {
  font-weight: bolder;
  font-size: larger;
}

.sidebar>div {
  cursor: pointer;
}

.addProjectbtn {
  padding: 10px;
  font-size: medium;
  background-color: var(--themeColor);
  color: var(--bodyColor);
  border-radius: 10px;
  border: none;
}

button {
  cursor: pointer;
}

.coverPage {
  position: absolute;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
}

form {
  padding: 2rem;
  position: relative;
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  font-size: larger;
  border: 2px solid black;
  border-radius: 10px;
}

form>div {
  display: grid;
  row-gap: 5px;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  color: var(--textColor);
  background-color: var(--bodyColor);
  font-size: xx-large;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 50%;
}

.formTitle {
  font-weight: 700;
  font-size: x-large;
}

form input,
select {
  padding: 8px;
  font-size: medium;
}

.formSubmit {
  padding: 10px;
  background-color: var(--themeColor);
  color: white;
  border: solid;
  font-size: medium;
  border-radius: 10px;
}

.ProjectContainer {
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.projectName {
  font-size: x-large;
}

.projectTile {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  row-gap: 15px;
  column-gap: 8px;
  border: 6px solid grey;
  padding: 10px;
  align-items: center;
}

.taskDiv {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column: -1/1;
  row-gap: 5px;
}

.task {
  font-size: large;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr 1fr;
  grid-template-rows: 1fr;
  border: 4px grey solid;
  padding: 1rem;
  column-gap: 8px;
  align-items: center;
}

.complete {
  border-color: green;
}

.changeBtn {
  font-size: medium;
  border: black 2px solid;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: var(--themeColor);
}

.addTaskBtn {
  color: white;
  background-color: var(--themeColor);
  padding: 10px;
  font-size: medium;
  border: 2px black solid;
  border-radius: 4px;
}

.noTaskDiv {
  display: grid;
  place-items: center;
  padding: 2rem;
  margin-top: 3rem;
  font-size: large;
}

.rightbar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 1rem;
  padding: 1rem;
}