* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --bodyColor: white;
  --textColor: black;
  --themeColor: darkslategrey;
  --bodyFont: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  background-color: var(--bodyColor);
  font-family: var(--bodyFont);
  justify-content: center;
  margin: 1px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  row-gap: 4rem;
}

.hero-title {
  text-align: center;
  padding: 1rem;
  font-size: xx-large;
  color: var(--themeColor);
  grid-column: 1/-1;
}

.notask-para {
  font-weight: bolder;
  font-size: larger;
}

.sidebar {
  color: var(--themeColor);
  border-color: var(--themeColor);
  border-width: 5px;
  border-style: solid;
  display: grid;
  grid-auto-flow: column;
  font-size: larger;
  text-align: center;
  justify-content: place-between;
  align-items: center;
  font-weight: bolder;
}

.sidebar>div {
  padding: 1rem;
}

.sidebar>div:active {
  background-color: var(--themeColor);
  color: var(--bodyColor);
}

.rightbar {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  place-content: center;
}

.sidebar>div {
  cursor: pointer;
}

.addtaskbtn {
  padding: 10px;
  font-size: medium;
  background-color: var(--themeColor);
  color: var(--bodyColor);
  border-radius: 10px;
  border: none;
}

button {
  cursor: pointer;
}

.coverPage {
  position: absolute;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
}

form {
  padding: 2rem;
  position: relative;
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  font-size: larger;
  border: 2px solid black;
  border-radius: 10px;
}

form>div {
  display: grid;
  row-gap: 5px;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  color: var(--textColor);
  background-color: var(--bodyColor);
  font-size: xx-large;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 50%;
}

.formTitle {
  font-weight: 700;
  font-size: x-large;
}

form input {
  padding: 8px;
  font-size: medium;
}

.formSubmit {
  padding: 10px;
  background-color: var(--themeColor);
  color: white;
  border: solid;
  font-size: medium;
  border-radius: 10px;
}